# ==========================================
# CONFIGURACIÓN DEL ENTORNO RPA SUITE V6
# Renombrar este archivo a ".env"
# ==========================================

# Conexión SSH (Servidor MCANET)
SSH_HOST=35.198.62.182
SSH_PORT=9229
SSH_USER=mbf.andres
SSH_PASSWORD=

# Integraciones de Inteligencia Artificial
GEMINI_API_KEY=tu_clave_de_google_aqui
GROQ_API_KEY=tu_clave_de_groq_aqui

# Opciones del Sistema y Correo
DEFAULT_EMAIL=tu_correo@ejemplo.com
ROBOT_SPEED=1.0

# Rutas de binarios externos (Opcional para compartir Dashboards)
# NGROK_PATH=C:\ngrok\ngrok.exe