# UI y Utilidades Core
customtkinter==5.2.2
pywebview==5.0.3
python-dotenv==1.0.1
pyperclip==1.8.2

# Manipulación de Datos
pandas==2.2.1
numpy==1.26.4
openpyxl==3.1.2
xlsxwriter==3.2.0

# Dashboards y Visualización
streamlit==1.32.2
plotly==5.20.0
matplotlib==3.8.3
seaborn==0.13.2

# IA y Machine Learning
google-generativeai==0.8.3
scikit-learn==1.4.1.post1

# Redes, Criptografía y SSH
cryptography==42.0.5
paramiko==3.4.0
requests==2.31.0

# Watchdog y Visión Computacional (Exclusivo Windows)
pywin32==306
pyautogui==0.9.54
Pillow==10.2.0
qrcode==7.4.2